<h4>for variable in collection</h4>

In [2]:
fruits = ["Apple", "Banana", "Watermelon", "Pineapple"]
for fruit in fruits:
    print(f"Nama Buah : {fruit}")

Nama Buah : Apple
Nama Buah : Banana
Nama Buah : Watermelon
Nama Buah : Pineapple

In [6]:
#contoh:
#Kelas TI24F punya data nilai pemrograman python 80, 100, 90, 70, 70, 50, 40
#carilah nilai rata-rata nilai pemrograman python di kelas TI24F

nilaiPython = [80, 100, 90, 70, 70, 50, 40]
total = 0
for nilai in nilaiPython:
    total += nilai
rata_rata = total / len(nilaiPython)
print(f"Nilai Rata-Rata : {rata_rata}")

Nilai Rata-Rata : 71.42857142857143

In [8]:
#Enumerate
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
for i, m in enumerate(months):
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Aug
8 : Sep
9 : Oct
10 : Nov
11 : Dec

In [23]:
kampus = input("Isikan Nama Kampus :")
listVokal = ["a", "i", "u", "e", "o", "A", "I", "U", "E", "O"]
total = 0
isVokal = ""
for karakter in kampus:
    if karakter in listVokal:
        total += 1
        isVokal = "Huruf Vokal      "
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal} | Total : {total}") #berapa banyak huruf vokal 'a'i'u'e'o'
print("")
print(f"Jumlah total huruf vokal adalah : {total}")

Isikan Nama Kampus : Nusa Putra

N adalah Bukan Huruf Vokal | Total : 0
u adalah Huruf Vokal       | Total : 1
s adalah Bukan Huruf Vokal | Total : 1
a adalah Huruf Vokal       | Total : 2
  adalah Bukan Huruf Vokal | Total : 2
P adalah Bukan Huruf Vokal | Total : 2
u adalah Huruf Vokal       | Total : 3
t adalah Bukan Huruf Vokal | Total : 3
r adalah Bukan Huruf Vokal | Total : 3
a adalah Huruf Vokal       | Total : 4

Jumlah total huruf vokal adalah : 4

In [22]:
#looping list Comprehension
data = [1,2,3,4,5]
pangkat = [x ** 2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [25]:
#Range
for i in range(10):
    print(f"Nilai i adalah : {i}")

Nilai i adalah 0
Nilai i adalah 1
Nilai i adalah 2
Nilai i adalah 3
Nilai i adalah 4
Nilai i adalah 5
Nilai i adalah 6
Nilai i adalah 7
Nilai i adalah 8
Nilai i adalah 9

In [32]:
for j in range(5,10):
    print(f"Nilai j adalah : {j}")

Nilai j adalah : 5
Nilai j adalah : 6
Nilai j adalah : 7
Nilai j adalah : 8
Nilai j adalah : 9

In [36]:
#cek bilangan prima atau bukan prima
number = int(input("Isikan Bilangan :"))
faktor = 0
for i in range(1, number + 1):
    if number % i == 0:
        faktor += 1
if faktor == 2:
    print(f"{number} adalah Bilangan Prima")
else:
    print(f"{number} adalah Bilangan bukan Prima")

Isikan Bilangan : 7

7 adalah Bilangan Prima

In [41]:
#Faktorial
# 3! = 3 x 2 x 1 = 6
# 4! = 4 x 3 x 2 x 1 = 24

total = 1
number = int(input("Isikan Bilangan :"))
for i in range(1, number + 1):
    total *= i
print(f"{number}! = {total}")

Isikan Bilangan : 4

4! = 24

In [43]:
# 1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan :"))
sign = 1
for i in range(1, number + 1):
    result = sign * i
    print(f"{result} ", end="")
    sign *= -1

Isikan Bilangan : 5

1 -2 3 -4 5

In [47]:
kursiBioskop = ["L","P","P","L","L","P","L"]

#hitunh jumlah laki laki
#hitung jumlah perempuan

totalLaki = 0
for jenis in kursiBioskop:
    if jenis == "L":
        totalLaki += 1
print(f"jumlah penonton laki laki : {totalLaki}")
print(f"jumlah penonton perempuan : {len(kursiBioskop) - (totalLaki)}")

jumlah penonton laki laki : 4
jumlah penonton perempuan : 3

In [52]:
#hitung jumlah kursi
kursi = ["L","P","P","L","L","P","L"]
totalCouple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        totalCouple += 1
print(totalCouple)

4

In [53]:
data = {
    "lname" : "Rangga", 
    "gname" : "Desur", 
    "hname" : "Aril",
    "kname" : "Charel"
}
for key,value in data.items():
    print(f"{key} : {value}")

lname : Rangga
gname : Desur
hname : Aril
kname : Charel

In [ ]:
tahu = [10,10,10,10,10,10]

#harga 1 tahu = 2000
#jika beli 15
#output : total bayar = 30000